@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 450px;" ng-controller="mainCtrl">
    <div class="panel panel-info" style="margin-top: 30px; margin-left: 20px;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="panel-title">Real Time Chat</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="scrollable">
                    <div ng-repeat="msg in messages">{{msg.message}}</div>
                </div>
                <div>
                    <input ng-model="newMessage" class="form-control input-sm pull-left" style="width: 80%l" type="text"/>
                    <button ng-click="sendMessage()" class="pull-right btn btn-primary btn-sm">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
